@model PaginatedList<DBModels.Worktime>

@{
    ViewData["Title"] = "Index";
}

    <ul class="nav nav-tabs m-3">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Добавить</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Export">Экспорт в xlsx</a>
        </li>
    </ul>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Часы
            </th>
            <th>
                Объект
            </th>
            <th>
                Сотрудник
            </th>
            <th>
                Позиция
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.LocalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WorktimeId">Подробно</a> |
                    <a asp-action="Edit" asp-route-id="@item.WorktimeId">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorktimeId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                Предыдущая
            </a>
        </li>
        <li class="page-item"><a class="page-link">@ViewData["PageNumber"]</a></li>
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                Следующая
            </a>
        </li>
    </ul>
</nav>
